*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(255,255,255) , rgb(109,39,239));
    height: 100vh;
}
.contan{
    height: 70vh;
    border: 2px solid black;
    padding: 15px 15px;
    overflow-y: auto;
}
.message{
    background-color: lightgrey;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 26px;
    font-weight: bold;
    width: 25%;
    margin-bottom: 15px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-form{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 92%;
}
#massageInp{
    padding:3px;
    width: 92%;
    outline: hidden;

}